@import 'vars.css';

#aboutHero {
    text-align: center;
    margin-bottom: 2rem;
    background-image: url(./assets/media/BMO.jpg);

#aboutCaption {
    max-width: var(--screen-sm);
    margin: 0.5rem auto;
    color: var(--text-dark-grey);
    
}


@media (min-width: 720px) {
    #aboutHero h2 {
        margin-top: 5rem;
    }
}