

header h2{
    max-width: var(--screen-md);
}

#shopContainer {
    display: inline-flex;
    align-items: center;
    margin-top: 1rem;
}

#shopContainer p {
    padding-left: 12px;
    color: var(--text-dark-grey);
}




section#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
    gap: 12px;
    box-sizing: border-box;
    padding: 24px;
    border-radius: var(--border-radius3);
}

.flexItem {
    opacity: 0;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    flex: 1 0 calc(33.33% - 12px); /* Adjust for 3 columns */
    box-sizing: border-box;
      
}

.flexItem img {
    height: auto; /* Maintain aspect ratio */
    display: block;
    border-radius: 16px;
    max-height: 280px;
    max-width: 280px;
    margin: auto;
}

@media (max-width: 900px) {
    .flexItem {
        flex: 1 0 calc(50% - 12px); /* Adjust for 2 columns on smaller screens */
    }
}

@media (max-width: 700px) {


    .flexItem {
        flex: 1 0 calc(100% - 12px); /* Full-width on very small screens */
    }
}

source, img {
    border-radius: var(--border-radius3);
}

figcaption p {
    font-size: 1.1em;
    text-align: center;
    color: var(--dark-grey);
    margin: var(--margin2) 0 0 0;
    padding: 0;
}


.tagList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}

.tagList p {
    color: var(--dark-grey);
    font-size: 0.9em;
    margin: 8px;
}

@media (max-width: 480px) {
    table {
        margin: 0;
    }
}