@import './vars.css';

main {
    position: relative;
    max-width: 100%;
    padding: 0;
    overflow-x:hidden;

}

section#soloRunning p, section#acmAI p, section#bloomBook p, section#vgdc p{
    color: var(--text-dark-grey);
}


#devHero {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto 9rem auto;
    align-items: center;
}

@media (max-width: 720px) {
    #devHero {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto 10rem auto;
    }
    
    div#sectionLinks {
        flex-wrap: wrap;
        max-width: 340px;
        justify-content: center;
        gap: 12px;
    }
}


#devHero h2 {
    margin-bottom: 12px;
}

#devHero h2+p {
    padding-top: 8px;
    color: var(--text-dark-grey);
    margin: auto;
}


div#sectionLinks {
    margin: 2rem auto 0 auto;
    display: flex;

}

div#sectionLinks button {
    margin-right: 1rem;
    background: var(--text-normal-grey);
    border-radius: var(--border-radius2);
    padding: 12px;

}
div#sectionLinks button:hover {
    background-color: rgb(208, 208, 208);
}

div#sectionLinks button p{
    color: var(--text-dark-grey);
    font-size: 16px;
    margin: 0;
}

section#soloRunning {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    margin: 0 auto 10rem auto;
}

section#soloRunning h2 {
    line-height: 0;
}

section#soloRunning img {
    max-width: 340px;
    margin: 4rem auto 2rem auto;
}

section#soloRunning button {
    margin: auto;
}



section#bloomBook {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#bloomBookGrid {
    display: grid;
    grid-template-rows: repeat(3, 180px);
	grid-template-columns: repeat(4, 180px);
    gap: 16px;
    margin: auto;
    margin-top: 9rem;
    margin-bottom: 4rem;
}


#bloomBook div {
    border-radius: var(--border-radius3);
    box-sizing: border-box;
}

#bloomBook div.detail h4 {
    line-height: 1.2rem;
    margin: 24px 16px;
}

#bloomBook div.detail p {
    font-size: 16px;
    margin: -4px 16px;
    
}



/* gridrowstart, gridrowned, gridcolumnstart, gridcolumnend*/
#bloomBookGrid #growth {
    grid-area: 1 / 1 / 1 / 2;
    background: var(--light-grey);
}
#bloomBookGrid #reminders {
    grid-area: 2 / 4 / 2 / 4;
    background: var(--dark-grey1);
    color: white;
}
#bloomBookGrid #camera {
    grid-area: 3 / 3 / 3/ 3;
    background: var(--light-grey);
}

#bloomBook #mockup {
    background-color: #90cc58;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 1 / 2 / 3 / 4;
}



#bloomBook #mockup button {
    position: relative;
    bottom: 120%;
    left: 5%;
}


#bloomBook #mockup button p {
    color: white;
}



#aiDescription{
    max-width: 800px;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

#bloomBookDescription {
    margin: auto;
    text-align: center;
    max-width: var(--screen-sm);
}


section#acmAI {
    padding: var(--padding5);
}

section#acmAI div:first-child {
    margin: auto;
    text-align: center;
}

section#acmAI div:first-child p {
    transform: translateY(24px);
}

section#acmAI div:not(:first-child) {
    background-color: var(--light-grey);
    height: 50vh;
    max-width: 800px;
    max-height: 450px;
    margin: auto;
    justify-content: center;
    border-radius: var(--border-radius3);
    margin-top: 2rem;
    display: flex;
    padding: 48px 48px 0 48px;
    overflow-y: hidden;
    box-sizing: border-box;
    
}

section#acmAI div:not(:first-child)  img {
    max-width: 450px;
    margin: auto;

}


section#acmAI button  {
    margin: 2rem auto;
}

section#acmAI button p {
    color: white;
}



section#vgdc  { 
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    max-width: 1200px;
    /* margin: 30rem auto 0 auto; */
    margin: auto;
    padding: 30rem 48px 0 48px;

}

section#vgdc > div{ 
    max-width: 500px;
    transform: translateY(-240px);
}

section#vgdc img {
    max-width: 500px;
    border-radius: var(--border-radius3);
}


@media (max-width: 1200px) {
    section#vgdc { 
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 20rem;
    }

    section#vgdc > div a {
        align-self: center;
        margin: auto;
    }

    section#vgdc img {
        margin: auto;
        margin-top: 10rem;
        max-width: 600px;
    }

    section#vgdc button {
        margin: auto;
    }
}


@media (max-width: 920px) {

    #devHero img {
        height: 200px;
        width: 200px;
        margin-top: 2rem;
    }

    #bloomBookGrid {
        grid-template-rows: repeat(5, 180px) !important;
	    grid-template-columns: 340px !important;
        margin: 8rem auto;
    }

    #bloomBookGrid div {
        width: 100%;
        padding: var(--padding5);
    }
    #bloomBookGrid #mockup {
        grid-area: 1 / 1 / 3 / 1;
    }
    #bloomBook #mockup button {
        left: 1%;
    }
    #bloomBookGrid #growth {
        grid-area: 3 / 1 / 3 / 1;
    }
    #bloomBookGrid #reminders {
        grid-area: 4/ 1 / 4 / 1;
    }
    #bloomBookGrid #camera {
        grid-area: 5 / 1 / 5 / 1;
    }
    #bloomBook #mockup #mockupImage {
        width: 280px;
    }

}


@media (max-width: 720px) {
    section#vgdc img {
        max-width: 100%;
    }
}
