main {
    color: var(--text-color);
}

#mainHero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#mainHero #introductions {
    margin-right: var(--margin5, 24px);
    max-width: var(--screen-sm, 480px);
}

#mainHero #introductions #nameIntro {
    color: var(--dark-grey,rgb(98, 98, 98));
    font-size: var(--font5, 24px);
    font-weight: 400;
}

#mainHero #introductions h1 {
    color: var(--title-color);
}

#container {
    width: 56px;
    height: 32px;
    position: relative;
}



#container {
    margin-bottom: var(--margin3);
}

#checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

#switch {
    width: 100%;
    height: 100%;
    background-color:  var(--dark-grey);
    border-radius: var(--border-radius3);
    cursor: pointer;
    display: block;
}

#slider {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: calc(50% - 27.5px/2 - 10px);
    top: calc(50% - 27px/2);
    transition: all 0.15s ease-out;
}

#checkbox:checked + #switch {
    background-color: var(--blue);
}

#checkbox:checked + #switch #slider {
    left: calc(50% - 27.5px/2 + 12px);
    top: calc(50% - 27px/2);
  }


#mainHero img {
    border-radius: 30px;
}

#mainTableTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: var(--screen-xs);
    flex-wrap: wrap;
}

/* Add margin to middle link element*/
#mainTableTitle div a:nth-child(2) {
    margin: 0 12px;
}

#mainTableTitle h2 {
    font-weight: 400;
    min-width: 200px;
    margin-bottom: var(--margin2, 10px);
    color: var(--title-color);
}




#mainTable tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#mainTable td {
    width: var(--screen-xs, 320px);
    height: var(--screen-xs, 320px);
    margin: var(--margin1, 8px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey, rgb(222, 222, 222));
}


footer > header {
    margin-bottom: var(--margin6, 36px);
}

footer > header h2 {
    color: var(--title-color);
}

footer form {
    max-width: var(--screen-sm, 320px);
}

fieldset {
    border: none;
    padding: 0;
    border-radius: var(--border-radius3, 20px);
}



label {
    display: inline-block;
    margin-top: var(--margin5);
    margin-bottom:  var(--margin2);

}
input, select, textarea, optgroup option, datalist {
    background-color: var(--light-grey);
    box-sizing: border-box;
    border: none;
    border-radius: var(--border-radius1);
    padding: var(--padding4);
    font-size: 1em;
    font-family: Inter;
    width: 100%;
    margin:0;
}


select {
    appearance: none;
}


textarea {
    min-height: 260px;
    max-height: 320px;
    padding: var(--padding5);
    margin-bottom: 0;
    resize: none;
}

#submitBtn{
    background-color: var(--main-black);
    color: var(--button-color);
    box-shadow: 0 2px 5px rgba(151, 151, 151, 0.5);
    width: 200px;
}

#submitBtn:hover {
    cursor: pointer;
    background-color: var(--blue);
}


output {
    margin: 4px 0;
    color: var(--error-red);
    opacity: 1;
}



.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out;

}

