/* This file provides base styles for all pages  */
@import './vars.css';


html {
    color: var(--main-black);
    font-family: 'Inter';
    font-size: var(--font3, 14px);
    font-family: 'Inter', sans-serif, Arial;
    background-color: var(--app-background-light);
    overflow-x: hidden;
    scroll-behavior: smooth;
    
    /* transition: background-color 0.2s ease-in; */
}

* {
    letter-spacing: -0.3px;

}


@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    p {
        font-size: 18px;
    }
}



body {
    margin: 0 0 10rem 0;
    transition: height 0.4s ease-in;

}

header {
    max-width: var(--screen-lrg, 768px);

}

main {
    margin-top: 100px;
    padding: var(--padding5, 24px);
    margin-left: auto;
    margin-right: auto;
    max-width: var(--screen-lrg, 768px);
}


caption {
    padding: 10px;
    caption-side: bottom;
}


h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0 !important;
}

h2 {
   font-size: 2rem;
   line-height: 2.3rem;
   margin-bottom: 0 !important;
}

h3 {
    font-size: 1.5rem;
    line-height: 1rem;
}

p {
    line-height: 1.5em;
}

a {
    text-decoration: none;
    font-weight: 500;
    transition: color ease-in 0.1s;
    color: var(--text-dark-grey);
}

a:hover {
    color: var(--blue, rgb(27, 27, 183) );
}

.button {
    border: none;
    width: fit-content;
    background-color: var(--black);
    border-radius: 32px;
    padding: 0 24px;
    font-size: var(--font4);
    letter-spacing: 0.5px;
    transition: all 0.2s ease-in;
    margin: 0;
}

.button p {
    color: white;
    line-height: 1rem;
    font-weight: 400;
}

.button:hover {
    background-color: var(--blue);
    cursor: pointer;
}
.button:hover a {
    color: white;
}




nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--app-background-light);
    width: 100vw;
    top: 0;
    padding: var(--padding3, 12px) 0;
    min-height: 80px;
    z-index: 100;

}

nav svg {
    margin: 0 var(--margin5, 24px);
}



nav li {
    width: 72px;
    margin: var(--margin3, 12px);
    text-align: center;
    font-size: 1.2em;

}




.navMenu {
    display: none;
}

.dropDownMenu {
    list-style: none;
    margin-top: 430px;
    transition: opacity 0.2s ease-in;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: var(--app-background-light);
    display: block;
    box-sizing: border-box;
    padding: 0 var(--padding5, 24px);
    box-shadow: var(--box-shadow-light);
}

.dropDownMenu li {
    box-sizing: border-box;
    margin: 48px 0;
    font-size: 1.2rem;
    width: 100%;
}

/* Hide the default checkbox*/
nav #menuToggle {
    display: none;
}

label[for="menuToggle"] {
    display: block;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin: 0 var(--margin6);
  }
 
  
  label[for="menuToggle"] div {
    position: relative;
    height: 3px;
    background-color: var(--text-color);
    margin-bottom: 5px;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
      0.3s ease right;
    border-radius: 12px;
  }



#menuToggle:checked ~ .dropDownMenu {
    opacity: 1;
}


@media (min-width: 768px) {
    .navMenu {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0 var(--margin5, 24px);
        max-height: none;  
    }


    .dropDownMenu {
        display: none;
    }

    label[for="menuToggle"] {
        display: none;
    }
    
}