:root {
    --padding1: 8px;
    --padding2: 10px;
    --padding3: 12px;
    --padding4: 16px;
    --padding5: 24px;
    --padding6: 36px;
    --padding7: 48px;
    

    --margin1: 8px;
    --margin2: 10px;
    --margin3: 12px;
    --margin4: 16px;
    --margin5: 24px;
    --margin6: 36px;
    --margin7: 48px;


    --screen-xs: 320px;
    --screen-sm: 480px;
    --screen-md: 768px;
    --screen-lrg: 1024px;

    
    --app-background-color: white;
    --blue: color-mix(in srgb, #122340 20%, rgb(44, 124, 237));
    --aqua: color(display-p3 0.5 0.8 0.6);
    --light-grey: rgb(228, 228, 228);
    --dark-grey: rgb(71, 71, 71);
    --grey1: #f7f7f7;
    --main-black:rgb(28, 28, 28);
    --error-red: rgb(228, 3, 3);
    --warning-yellow: rgb(206, 130, 37);

    --box-shadow-light: 1px 0px 5px rgba(97, 97, 97, 0.2);
    --box-shadow-dark: 1px 0px 5px rgba(97, 97, 97, 0.2);

    --border-light: rgb(199, 199, 199);
    --border-dark: rgb(228, 228, 228);
    --title-color: var(--main-black);
    --text-color: var(--main-black);
    
    --button-color:white;
    

    --border-radius1: 8px;
    --border-radius2: 12px;
    --border-radius3: 20px;


    --font1: 8px;
    --font2: 10px;
    --font3: 14px;
    --font4: 16px;
    --font5: 20px;
    --font6: 24px;

}