:root {
    --padding1: 8px;
    --padding2: 10px;
    --padding3: 12px;
    --padding4: 16px;
    --padding5: 24px;
    --padding6: 36px;
    --padding7: 48px;
    

    --margin1: 8px;
    --margin2: 10px;
    --margin3: 12px;
    --margin4: 16px;
    --margin5: 24px;
    --margin6: 36px;
    --margin7: 48px;


    --screen-xs: 380px;
    --screen-sm: 480px;
    --screen-md: 768px;
    --screen-lrg: 1024px;

    
    /* General colors */
    --app-background-light: rgb(247, 247, 247);
    --app-background-dark: rgb(21,20,20);

    --green: rgb(59,186,0);
    --blue: rgb(18,92,237);
    --aqua: color(display-p3 0.5 0.8 0.6);
    --light-grey: rgb(239, 239, 239);
    
    --dark-grey1: rgb(47, 46, 46);
    --dark-grey2: rgb(33, 30, 30);

    --text-dark-grey: rgb(173, 173, 173);
    --text-normal-grey: rgb(228, 228, 228);
    --text-light-grey: rgb(242,242,242);

    --black:rgb(0, 0, 0);


    --error-red: rgb(228, 3, 3);
    --warning-yellow: rgb(206, 130, 37);

    --box-shadow-light: 0 4px 2px -2px rgba(97, 97, 97, 0.2);
    --box-shadow-dark: 2px 2px 5px rgba(97, 97, 97, 0.2);

    --border-light: rgb(199, 199, 199);
    --border-dark: rgb(228, 228, 228);
    
    --title-color: var(--main-black);
    --text-color: black;
    
    --button-color:white;
    

    --border-radius1: 8px;
    --border-radius2: 12px;
    --border-radius3: 20px;
    --border-radius4: 32px;


    --font1: 8px;
    --font2: 10px;
    --font3: 14px;
    --font4: 16px;
    --font5: 20px;
    --font6: 24px;

}